@tailwind base;
@tailwind components;
@tailwind utilities;

div[role="dialog"] svg {
  stroke: #f0c905;
  width: 25px;
  height: 25px;
}

.bg_pattern {
  background-image: url("./assets/bg_pattern.svg");
}
